html{
    /* COLORES BASE */
    
    --white-color: #ffffff;
    --black-color: #000000;

    --navbar-color: #E3E6F3;

    --color-primary-100: #A8C4EE;
    --color-primary-200: #6E9DE3;
    --color-primary-300: #598FDF;

    --color-secundary-400: #4581DB;
    --color-secundary-500: #3073D7;
    --color-secundary-600: #2B68C2;
    
    --color-three-700: #265CAC;
    --color-three-800: #225197;
    --color-three-900: #1D4581;

}


